<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%- manifest.theme_color -%>" />
  <%- helmet.title.toString() %>
  <%- helmet.meta.toString() %>
  <%- helmet.link.toString() %>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%- gtmID -%>');</script>
  <% if (isProd === true) { %>
  <script type="text/javascript">
    <%- fontLoaderRaw -%>
    window.loadFont('<%- fontsCss -%>','<%- fontsCssName -%>');
  </script>

  <style><%- criticalCssRaw -%></style>
  <% for (var i = 0; i < css.length; i++) { %>
  <link rel="preload" as="style" href="<%- css[i] -%>" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="<%- css[i] -%>"></noscript><% } %>
  <noscript><link rel="stylesheet" href="<%- fontsCss -%>"></noscript>
  <% for (var j = 0; j < preloadJs.length; j++) { %>
  <link rel="preload" as="script" href="<%- preloadJs[j] -%>"><% } %>

  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript"><%- swRaw -%></script>
  <% } else { %>
  <%- styles -%>
  <% } %>
</head>
<body>
  <noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=<%- gtmID -%>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <div id="root"><%- initialMarkup -%></div>
  <script>
    window.__INITIAL_STATE__ = <%- initialState -%>;
    window.__FIREBASE = <%- firebase -%>;
  </script>
  <%- cssHash -%>
  <%- js -%>
</body>
</html>