<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%- manifest.theme_color -%>" />
  <%- helmet.meta.toString() %>
  <%- helmet.title.toString() %>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%- gtmID -%>');</script>
  <!-- End Google Tag Manager -->
  <% if (isProd === true) { %>
  <style><%- criticalCssRaw -%></style>
  <% for (var i = 0; i < css.length; i++) { %>
  <link rel="preload" as="style" href="<%- css[i] -%>" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="<%- css[i] -%>"></noscript>
  <% } %>
  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript">
    if (typeof navigator !== 'undefined' && 'serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js').then(function(reg) {
          reg.onupdatefound = function() {
            var installingWorker = reg.installing;
            installingWorker.onstatechange = function() {
              if (installingWorker.state === 'activated' && navigator.serviceWorker.controller) {
                navigator.serviceWorker.controller.postMessage({
                  action: 'navigate',
                  url: window.location.pathname
                });
              }
            };
          };
        }).catch(function(e) {
          console.error('Error during service worker registration:', e);
        });
      });
    }
  </script>
  <% } else { %>
  <%- styles -%>
  <% } %>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=<%- gtmID -%>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="root"><%- initialMarkup -%></div>
  <script>
    window.__INITIAL_STATE__ = <%- initialState -%>;
  </script>
  <%- cssHash -%>
  <%- js -%>
</body>
</html>