<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%- manifest.theme_color -%>" />
  <%- helmet.meta.toString() %>
  <%- helmet.title.toString() %>
  <% if (isProd === true) { %>
  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript">
    if (typeof navigator !== 'undefined' && 'serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js').then(function(reg) {
          reg.onupdatefound = function() {
            var installingWorker = reg.installing;
            installingWorker.onstatechange = function() {
              if (installingWorker.state === 'activated' && navigator.serviceWorker.controller) {
                navigator.serviceWorker.controller.postMessage({
                  action: 'navigate',
                  url: window.location.pathname
                });
              }
            };
          };
        }).catch(function(e) {
          console.error('Error during service worker registration:', e);
        });
      });
    }
  </script>
  <% } %>
  <%- styles -%>
</head>
<body>
  <div id="root"><%- initialMarkup -%></div>
  <script>
    window.__INITIAL_STATE__ = <%- initialState -%>;
  </script>
  <%- cssHash -%>
  <%- js -%>
</body>
</html>