<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="<%- manifest.theme_color -%>" />
  <%- helmet.meta.toString() %>
  <%- helmet.title.toString() %>
  <% if (prod === true) { %>
  <style><%- assetsManifest.criticalCss -%></style>
  <link rel="stylesheet" href="/<%- assetsManifest.bundleCss -%>" media="none" onload="if(media!=='all')media='all'">
  <noscript><link rel="stylesheet" href="/<%- assetsManifest.bundleCss -%>"></noscript>
  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript">
    if (typeof navigator !== 'undefined' && 'serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js').then(function(reg) {
          reg.onupdatefound = function() {
            var installingWorker = reg.installing;
            installingWorker.onstatechange = function() {
              switch (installingWorker.state) {
                case 'installed':
                  if (navigator.serviceWorker.controller) {
                    console.log('New or updated content is available.');
                  } else {
                    console.log('Content is now available offline!');
                  }
                  break;

                case 'activated':
                  console.log('Activated.');
                  if (navigator.serviceWorker.controller) {
                    navigator.serviceWorker.controller.postMessage({ url: window.location.pathname });
                  }
                  break;

                case 'redundant':
                  console.error('The installing service worker became redundant.');
                  break;
              }
            };
          };
        }).catch(function(e) {
          console.error('Error during service worker registration:', e);
        });
      });
    }
  </script>
  <% } %>
</head>
<body>
  <div id="root"><%- initialMarkup -%></div>
  <script>window.__INITIAL_STATE__ = <%- initialState -%>;</script>
  <script type="text/javascript" src="/<%- assetsManifest.vendorJs -%>"></script>
  <script type="text/javascript" src="/<%- assetsManifest.bundleJs -%>"></script>
</body>
</html>